@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body{
  background: hsl(229, 57%, 11%) url("../images/bg-desktop.png") no-repeat;
  background-position: bottom;
}

.content{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  margin: 19% 10%;
}

.left-container{
  background-color:  hsl(228, 56%, 26%);
  border-radius: 10px 100px 10px 10px;
  /*margin-right: 1%;*/
  /*padding: 2% 2% 1% 0;*/
  margin: -2% 1% 2% 5%;

}

.logo-img{
  padding: 10% 5% 5% 15%;
}

.icon{
  list-style: none;
  list-style-position: inside;
  display: flex;
  flex-direction: row;
}

.icon-item{
  padding: 3%;
  margin: 3%;
  background-color: hsl(229, 57%, 11%);
  border-radius: 10px;
}

.icon-img{
/*  width: 24px
  height: 24px;*/
}

.right-container{
  background-color:  hsl(228, 56%, 26%);
  border-radius: 10px;
  padding: 3%;
  position: relative;
  margin: 2% 0 0 1%;
  height: 50%;
  width: 40%;
  color: #fff;
}
.usage-bar{
  background-color:hsl(229, 57%, 11%);
  border-radius:10px;
 }

.slide-circle{
  width:13px;
  height:13px;
  border-radius:50%;
  background-color:white;
  margin-left:97%;
}
.usage-slide{
  background-image:linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  width:81%;
  border-radius:10px;
  border: 2px solid black;

}

.size{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 5px;

}

.size-span{
  font-size: 12px;
}

.pop-up{
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10px 10px 0 10px;
  color: black;
  margin: -12% 0 0 55%;
  position: absolute;
  z-index: 1;
  padding: 2% 6%;

}
.pop-up:after, .pop-up:before {
  content: '';
  position: absolute;
  bottom: -10px;
  right: 0;
  border-top: 10px solid white;
  border-left: 10px solid transparent;
}
.pop-up-para{
  font-size: 30px;
  font-weight: 700;

}

.pop-up-span{
  font-size: 14px;
  opacity: 0.5;

}
